* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
}

h1 {
  color: white;
  font-weight: 800;
  font-size: 4rem;
}

h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #6b7280;
  line-height: 2rem;
}

a {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-image: url('../img/backgroundImage.png');
  background-size: cover;
  background-color: #111;
  height: 20rem;
  padding: 4.4rem;
}

.general-container {
  margin: 0 auto;
  max-width: 600px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  margin: -2.2rem 0 4.4rem 0;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d1d5db;
}

input {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  flex-basis: 75%;
  border: none;
  border-right: 1px solid #d1d5db;
}

button {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  flex-basis: 25%;
  border: none;
  cursor: pointer;
}

main {
  padding: 0 4.4rem;
}
