.movie-card {
  display: flex;
  align-items: flex-start;
  max-height: 20rem;
  margin: 4rem 0;
}

.movie-img {
  flex-basis: 20%;
  max-height: 25rem;
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.movie-info {
  flex-basis: 80%;
  padding: 2rem;
  max-width: 350px;
  overflow: hidden;
  height: 100%;
}

.movie-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.1rem;
}

.movie-heading img {
  width: 15px;
  margin:  0 4px 0 8px;
}

.movie-meta {
  margin-bottom: .8rem;
}

.movie-meta  > ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: #111827;
}

.movie-meta .btn-watchlist {
  background-color: transparent;
  border: none;
  margin-left: 3rem;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
}

.movie-meta .btn-watchlist ul {
  display: flex;
  align-items: center;
}

.movie-meta .btn-watchlist ul img {
  display: block;
  margin-right: .5rem;
}