.movie-card {
  display: flex;
  align-items: flex-start;
  height: 25rem;
  margin: 4rem 0;
}

.img-container {
  height: 100%;
  border-radius: 3px;
}

.img-container img {
  border-radius: 3px;
}

.movie-img {
  height: 100%;
}

.movie-info {
  flex-basis: 3;
  padding: 2rem;
  overflow: hidden;
  height: 100%;
}

.movie-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.1rem;
}

.movie-heading img {
  width: 15px;
  margin: 0 4px 0 8px;
}

.movie-meta {
  margin-bottom: 0.8rem;
}

.movie-meta > ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: #111827;
}

.movie-meta .btn-watchlist {
  background-color: transparent;
  border: none;
  margin-left: 3rem;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
}

.movie-meta .btn-watchlist ul {
  display: flex;
  align-items: center;
}

.movie-meta .btn-watchlist ul img {
  display: block;
  margin-right: 0.5rem;
}
